.frame_1 {
  background-image: url("../../assets/background_1.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Maintain aspect ratio */
  margin: 0;
  height: 100vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_title {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Added text shadow */
  padding: 2rem; /* Added padding for smaller screens */
}

.title_description {
  max-width: 450px;
  width: 90%; // Responsive width
  text-align: center;
}

.animation_1 {
  max-width: 70%; // Full width for responsiveness
  height: auto; // Maintain aspect ratio
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
  .title_description {
    width: 70%; /* Adjust width for medium screens */
  }

  .animation_1 {
    width: 75%; /* Make animation responsive */
  }
}

@media (max-width: 768px) {
  .main_title {
    padding: 10px; /* Less padding on very small screens */
    h1 {
      text-align: center;
    }
  }
  .title_description {
    width: 90%; /* Full width on small screens */
  }

  .animation_1 {
    width: 100%; /* Full width for animation */
    height: auto; /* Maintain aspect ratio */
  }
}

@media (max-width: 480px) {
  .main_title {
    padding: 10px; /* Less padding on very small screens */
    h1 {
      text-align: center;
    }
  }

  .title_description {
    font-size: 14px; /* Smaller font size for readability */
  }
}
