.animation_2 {
  position: absolute;
  z-index: 10;
  border: 0.5rem solid black;
  background: rgb(0, 0, 0);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
}
.news_updates {
  color: white;
  background-color: black;
  height: 40px;
  width: -webkit-fill-available;
  display: flex;
  align-items: center;
  p {
    width: 185px;
    padding-left: 8px;
  }
}
//-----------------
.scroll-container {
  height: 50%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.scroll-content {
  position: absolute; /* Use absolute positioning */
  white-space: nowrap; /* Keep this to align items in a single line */
  animation: scroll 40s linear infinite; /* Control scrolling speed */
}

.scroll-item {
  padding-right: 50px;
  display: inline; /* Ensure each item is treated as an inline block */
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%); /* Move all items out of view */
  }
}

//-------------------
.component_wrapper {
  position: relative;
}
.fixed_layer {
  height: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer {
  text-align: center;
  padding: 2px;
  background-color: #000000;
  color: #fff;
}
.component {
  margin: 20px 0;
}

.animation_3 {
  margin: 20px 0;
}
@media (max-width: 480px) {
  .animation_2 {
    width: 50%;
  }
  .news_updates {
    height: 28px;
    font-size: 10px;
    p {
      width: 62px;
      padding-left: 4px;
    }
  }
}
