//--------------------------------------------------------------
.animation_2 {
  position: absolute;
  top: 626px;
  width: 305px;
  height: 170px;
  padding: 10px 0px;
  background: rgb(0, 0, 0);
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}
.news_updates {
  color: white;
  background-color: black;
  height: 55px;
  padding-left: 306px;
  display: flex;
  align-items: center;
  p {
    width: 185px;
    padding-left: 8px;
  }
}
footer {
  text-align: center;
  padding: 2px;
  background-color: #000000;
  color: #fff;
}
