<app-frame-1 />
<div class="animation_2"></div>
<div class="news_updates">
  <marquee>
    <span style="color: red">NEWS & UPDATES:</span> Qualifying business entities
    formed prior to January 1, 2024 have until January 1, 2025 to electronically
    submit their report to FinCEN. 2025 to electronically submit their report to
    FinCEN.
  </marquee>
</div>
<app-frame-2 />
<app-frame-3 />
<app-frame-4 />
<app-frame-5 />
<app-frame-6 />
<footer>
  <p>Copyright© 2024 Procstat. All rights reserved.</p>
</footer>
