<div class="component_wrapper">
  <app-frame-1 class="component" />
  <div class="fixed_layer">
    <div class="animation_2"></div>
    <div class="news_updates">
      <p style="color: red">NEWS & UPDATES:</p>
      <marquee>
        Qualifying business entities formed prior to January 1, 2024 have until
        January 1, 2025 to electronically submit their report to FinCEN.
      </marquee>
    </div>
  </div>
  <app-frame-2 class="component" />
</div>
<app-frame-3 class="component" />
<app-frame-4 id="frame4" class="component" />
<app-frame-5 class="component" />
<app-frame-6 class="component" />
<footer class="footer">
  <p>Copyright© 2024 Procstat. All rights reserved.</p>
</footer>
