<section class="frame_1">
  <div class="main_title">
    <h1>BOI Reporting, Simplified for Success</h1>
    <div class="title_description">
      <p>
        Whether you're an accounting firm or an SMB owner, ProcStat makes BOI
        reporting simple. We guide you step-by-step, keep everything organized,
        and ensure FinCEN compliance—hassle-free!
      </p>
    </div>
    <div class="animation_1"></div>
  </div>
</section>
<div class="animation_2"></div>
<div class="news_updates">
  <marquee>
    <span style="color: red">NEWS & UPDATES:</span> Qualifying business entities
    formed prior to January 1, 2024 have until January 1, 2025 to electronically
    submit their report to FinCEN. 2025 to electronically submit their report to
    FinCEN.
  </marquee>
</div>
<section class="frame_2">
  <div class="heading">
    <h2>BOI Reporting stress?</h2>
    <h2>Let us handle it!</h2>
  </div>
  <div class="main_container">
    <div class="table_container">
      <table>
        <tbody>
          <tr>
            <td class="row_headings">Staff Time</td>
            <td>How can we keep staff time to a minimum?</td>
          </tr>
          <tr>
            <td class="row_headings">Data Liability</td>
            <td>Concerned about more sensitive data on your servers?</td>
          </tr>
          <tr>
            <td class="row_headings">Data Gathering</td>
            <td>How do we quickly collect data from beneficial owners?</td>
          </tr>
          <tr>
            <td class="row_headings">Filing Updates</td>
            <td>Will we have to re-enter and re-upload all information?</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="image_container">
      <p>
        Let us handle the numbers while your team focuses on what matters most.
      </p>
    </div>
  </div>
</section>
<section class="frame_3">
  <div class="heading">
    <h2>Streamlined BOI Reporting With ProcStat</h2>
  </div>
  <div class="frame_3_container">
    <div class="left_column_boxes">
      <div class="left_box_container_1 box">
        <h2>Effortless BOI Filing</h2>
      </div>
      <div class="left_box_container_2 box">
        <h2>Eliminate staffing and bandwidth issues</h2>
      </div>
      <div class="left_box_container_3 box">
        <h2>Improve productivity and grow without excessive hiring</h2>
      </div>
    </div>
    <div class="right_column_boxes">
      <div class="right_box_container_1 box">
        <h2>Meet Compliance with Confidence</h2>
      </div>
      <div class="right_box_container_2 box">
        <h2>Focus on client acquisition while we handle reporting</h2>
      </div>
      <div class="book_call_container">
        <button>Book a Call</button>
        <div class="discount">
          <p>Save 40% on pocket and 100% on stress.</p>
        </div>
      </div>
    </div>
  </div>
</section>
