<section class="frame_2">
  <div class="heading">
    <h2>BOI Reporting stress?</h2>
    <h2>Let us handle it!</h2>
  </div>
  <div class="main_container">
    <div class="table_container">
      <table>
        <tbody>
          <tr (mouseenter)="onMouseEnter(0)">
            <td class="row_headings">Staff Time</td>
            <td>How can we keep staff time to a minimum?</td>
          </tr>
          <tr (mouseenter)="onMouseEnter(1)">
            <td class="row_headings">Data Liability</td>
            <td>Concerned about more sensitive data on your servers?</td>
          </tr>
          <tr (mouseenter)="onMouseEnter(2)">
            <td class="row_headings">Data Gathering</td>
            <td>How do we quickly collect data from beneficial owners?</td>
          </tr>
          <tr (mouseenter)="onMouseEnter(3)">
            <td class="row_headings">Filing Updates</td>
            <td>Will we have to re-enter and re-upload all information?</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="image_container">
      <p>
        Let us handle the numbers while your team focuses on what matters most.
      </p>
      @if(currentImage) {

      <img [src]="currentImage" alt="Dynamic Image" />
      }
    </div>
  </div>
</section>
