<section class="frame_5">
  <div class="frame_5_heading">
    <h2>The Team You can <span style="color: #6833cc">Rely Upon</span></h2>
  </div>
  <div class="frame_5_images_set">
    <div class="frame_5_image_1">
      <div class="counts">
        <h1>1000+</h1>
        <P>Skilled Accountants</P>
      </div>
    </div>
    <div class="frame_5_image_2">
      <div class="counts">
        <h1>1000+</h1>
        <P>Skilled Accountants</P>
      </div>
    </div>
    <div class="frame_5_image_3"></div>

    <div class="frame_5_image_4">
      <div class="counts">
        <h1>4000+</h1>
        <P>Happy Customers</P>
      </div>
    </div>
    <div class="frame_5_image_5">
      <div class="counts">
        <h1>15+</h1>
        <P>Years of experience</P>
      </div>
    </div>
  </div>
  <div class="iso_heading">
    <h2>
      ISO Certified: A Mark of
      <span style="color: #6833cc">Trust and Quality</span>
    </h2>
  </div>
  <div class="iso_standards">
    <div class="iso_containers">
      <div class="iso_1_image"></div>
      <div class="iso_info">
        <p>
          We are an
          <span style="color: #6635c6; font-weight: bold">ISO 9001:2015 </span>
          certified company. The ISO 9001:2015 is the international standard for
          quality management system. This certification ensures that we meet the
          required standards for customer focus, leadership, people engagement,
          process driven approach, process improvement, evidence-based decision
          making and relationship management in all our core functions.
        </p>
      </div>
    </div>
    <div class="iso_containers">
      <div class="iso_2_image"></div>
      <div class="iso_info">
        <p>
          We are an
          <span style="color: #6635c6; font-weight: bold">
            ISO 27001:2022
          </span>
          certified company. The ISO 27001:2022 is the international standard
          for ISMS - Information Security Management System. This certification
          ensures that we meet the required standards for information security
          policies, physical security, environmental security, asset management,
          compliances and a host of other standards that we use to establish,
          implement, maintain and continually improve the information security
          management system.
        </p>
      </div>
    </div>
  </div>
</section>
