.frame_5 {
  background-color: rgb(237 237 237);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frame_5_heading {
  color: #291550;
  font-family: "Inter", sans-serif;
  margin-top: 8px;
  h2 {
    font-size: 30px;
    padding-bottom: 0px;
  }
}
.iso_heading {
  color: #291550;
  font-family: "Inter", sans-serif;
  margin-top: 75px;
  h2 {
    margin-bottom: 0px;
  }
}
.frame_5_images_set {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  h1 {
    color: white;
    margin: 0;
    font-weight: 500;
  }
  p {
    color: white;
    margin: 0;
    font-size: 12px;
    font-weight: 500;
  }
}
.counts {
  display: flex;
  flex-direction: column;
  width: 75px;
  padding: 20px;
}
.frame_5_image_1 {
  background-image: url("../../assets/image_1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 300px;
  width: 180px;
  margin: 5px;
}
.frame_5_image_2 {
  height: 235px;
  width: 150px;
  background: #97ef29;
  border-radius: 18px;
  margin: 5px;
  display: flex;
  align-items: flex-end;
  h1,
  p {
    color: black;
  }
}
.frame_5_image_3 {
  background-image: url("../../assets/image_3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 175px;
  width: 300px;
  margin: 5px;
}

.frame_5_image_4 {
  height: 235px;
  width: 150px;
  background: #6833cc;
  margin: 5px;
  border-radius: 18px;
  display: flex;
  align-items: flex-end;
}
.frame_5_image_5 {
  background-image: url("../../assets/image_5.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 300px;
  width: 180px;
  margin: 5px;
}
.iso_standards {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  gap: 2rem;
  padding-bottom: 1.5rem;
}
.iso_info {
  width: 490px;
  p {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    text-align: justify;
  }
}
.iso_1_image {
  background-image: url("../../assets/iso_1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100px;
  width: 100px;
  margin: 5px;
}
.iso_containers {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.iso_2_image {
  background-image: url("../../assets/iso_2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100px;
  width: 100px;
  margin: 5px;
}

//-----------------------------------------------------------------
/* Responsive adjustments */
@media (max-width: 1024px) {
  .frame_5 {
    padding: 20px; /* Add padding for smaller screens */
    overflow: hidden; /* Prevent overflow */
    background-size: cover; /* Maintain aspect ratio */
    background-position: center; /* Center the background */
    height: auto;
  }

  .frame_5_images_set {
    flex-direction: column; /* Stack images vertically */
    align-items: center; /* Center align items */
    width: 80%; /* Ensure it takes full width */
  }

  .frame_5_image_1,
  .frame_5_image_3,
  .frame_5_image_5 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 140px;
    background-position: center;
    background-size: 100% 240%;
    border-radius: 38px;
  }

  .frame_5_image_2,
  .frame_5_image_4 {
    display: flex;
    align-items: center;

    width: 100%; /* Adjust width */
    height: 140px; /* Allow height to adjust */
    border-radius: 38px;
  }

  .counts {
    display: flex;
    width: 100px;
    padding: 10px;
    flex-direction: column;
    gap: 8px;
    padding-left: 26px;
  }

  .iso_standards {
    flex-direction: column; /* Stack ISO standards vertically */
    align-items: center; /* Center align items */
    width: 100%; /* Ensure full width */
  }

  .iso_info {
    width: 85%; /* Make iso info responsive */
    text-align: center; /* Center text */
  }
}

@media (max-width: 768px) {
  .frame_5 {
    background-size: cover; /* Maintain aspect ratio */
    background-position: center; /* Center the background */
    height: auto;
  }

  .frame_5_heading {
    font-size: 20px; /* Smaller heading font size */
  }

  .frame_5_images_set {
    flex-direction: column; /* Stack images vertically */
    width: 100%; /* Ensure it takes full width */
  }

  .frame_5_image_1,
  .frame_5_image_3,
  .frame_5_image_5 {
    height: 140px; /* Adjust height */
    width: 90%; /* Full width */
  }

  .frame_5_image_2,
  .frame_5_image_4 {
    height: 140px; /* Adjust height */
    width: 90%; /* Responsive width */
  }

  .iso_info {
    width: 100%; /* Ensure it takes full width */
    text-align: center; /* Center text */
    overflow: hidden; /* Prevent overflow */
  }
}

@media (max-width: 480px) {
  .frame_5 {
    height: auto;
    background-color: white;
  }

  .frame_5_heading {
    font-size: 18px; /* Smaller heading font size */
    margin-top: 0px;
  }

  .frame_5_image_1,
  .frame_5_image_3,
  .frame_5_image_5,
  .frame_5_image_2,
  .frame_5_image_4 {
    width: 100%;
    height: 130px;
    max-width: none;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .iso_heading {
    margin-top: 50px;
  }

  .iso_info p {
    font-size: 12px; /* Smaller font size for iso info */
  }
  .iso_standards {
    gap: 1rem;
  }
  .iso_containers {
    background-color: #f6f6f6;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    border-radius: 20px;
  }
}
