.container {
  position: relative;
  background: #291550;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 1150px;
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 28px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
.features_heading {
  height: 30px;
  h1 {
    font-size: 20px;
    margin: 0;
  }
}
th {
  font-weight: 600;
}
.features {
  text-align: left;
}
.package_headings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
th,
td {
  padding: 9px;
  text-align: center;
  border-bottom: 3px solid rgba(116, 110, 235, 0.2);
}
thead tr:first-child th {
  border-bottom: none;
}

tbody tr:last-child td,
tbody tr:nth-last-child(2) td {
  border-bottom: none;
}
td:nth-child(2),
td:nth-child(3) {
  border-right: 3px solid rgba(116, 110, 235, 0.2);
}
td:first-child {
  font-size: 14px;
  text-align: left;
  width: 470px;
}
.features ul {
  list-style-type: disc;
  padding-left: 20px;
  margin: 0;
  text-align: left;
}

.features li {
  margin-bottom: 5px;
  font-size: 14px;
}
.plan {
  text-align: center;
  padding: 8px 16px;
  background: #746beb;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 10px;
  font-weight: bold;
  width: 85px;
}
.check-mark {
  background-image: url("../../assets/check_mark.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
}

button {
  background: #99cc01;
  border: none;
  width: 110px;
  height: 36px;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

button:hover {
  background: #291550;
  color: #99cc01;
  border: 2px solid #99cc01;
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95);
  background: #291550;
}
.loader {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 12px);
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.model_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}
.modal-container {
  background-image: url("../../assets/popup_background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  z-index: 100;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: auto;
  text-align: center;
}
.modal-content {
  width: 390px;
  height: auto;
  background: transparent;
  padding: 10px;
  padding-bottom: 30px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  p {
    padding: 26px 36px;
    margin-bottom: 0px;
  }
}
.heading_close_bar {
  h1 {
    font-size: 32px;
    margin: 0px;
    padding-left: 10px;
    padding-top: 16px;
  }
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.close {
  cursor: pointer;
  font-size: 28px;
  color: #aaa;
}
.close:hover {
  color: black;
}
body.modal-open {
  overflow: hidden;
}
.form-container {
  padding: 18px 16px;
  width: 290px;
  border: 2px solid #4b2e99;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form_field {
  width: 100%;
}
.form_fields {
  font-family: "Inter", sans-serif;
  background-color: transparent;
  border: 2px solid #6833cc;
  border-radius: 10px;
  width: 92%;
  padding: 14px 10px;
  color: #ffffff;
}
.form-field,
::placeholder,
.form_phone_field,
::placeholder {
  color: #e5e5e5;
  opacity: 1;
}
.form-select {
  font-family: "Inter", sans-serif;
  background-color: transparent;
  border: 2px solid #6833cc;
  border-radius: 10px;
  width: 100%;
  padding: 14px 10px;
  color: #e5e5e5;
  cursor: pointer;
}
.form-select option {
  font-family: "Inter", sans-serif;
  color: #000000;
}
.form-select:focus,
input:focus {
  border-color: #66afe9;
  outline: none;
}

.custom-error {
  color: #f44336;
  font-size: 0.7em;
  margin-top: 4px;
  width: max-content;
}
.validation_container {
  height: 20px;
  width: 100%;
}
.formfill_error_container {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 100%;
}

button {
  background: #99cc01;
  border: none;
  width: 110px;
  height: 36px;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}
button:hover {
  background: #291550;
  color: #99cc01;
  border: 2px solid #99cc01;
  transform: scale(1.05);
}
button:active {
  transform: scale(0.95);
  background: #291550;
}
.loader {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid #fff;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  left: calc(50% - 10px);
  top: calc(50% - 12px);
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.submission_success {
  p {
    font-size: 14px;
    margin: 0;
    padding: 6px;
    color: #ffffff;
  }
}
.tagline {
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #dcdde1;
}
@media (max-width: 1024px) {
  .container {
    padding: 20px;
    width: auto;
  }

  button {
    width: 70%;
  }

  .modal-content {
    width: 95%;
  }
}
