<div class="container">
  <table>
    <thead>
      <tr class="features_heading">
        <th class="features">Features</th>
        <th>
          <div class="package_headings">
            <h1>GOLD</h1>
            <div class="plan">$100/entity</div>
          </div>
        </th>
        <th>
          <div class="package_headings">
            <h1>DIAMOND</h1>
            <div class="plan">$250/entity</div>
          </div>
        </th>
        <th>
          <div class="package_headings">
            <h1>PLATINUM</h1>
            <div class="plan">$300/entity</div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="features">
          <ul>
            <li>Entry Update</li>
          </ul>
        </td>
        <td>No Update</td>
        <td>Update once</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>File report with FinCEN.</li>
          </ul>
        </td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>
              Automated, secure beneficial ownership information collection.
            </li>
          </ul>
        </td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Unlimited company and BOI data storage.</li>
          </ul>
        </td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Dashboard to manage BOI for all your entities.</li>
          </ul>
        </td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Connect beneficial owners to multiple entities.</li>
          </ul>
        </td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Unlimited, free Change of Information filings.</li>
          </ul>
        </td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Access to BOI Monitoring Services and filing reminders.</li>
          </ul>
        </td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Priority customer support during the filing process.</li>
          </ul>
        </td>
        <td></td>
        <td></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Customised Cover Letter.</li>
          </ul>
        </td>
        <td></td>
        <td></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Customised Email to Beneficial Owners</li>
          </ul>
        </td>
        <td></td>
        <td></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button [disabled]="isLoading" (click)="prefill_package('gold')">
            @if(!isLoading){
            <span class="button-text">Choose</span>
            } @if (isLoading) {
            <span class="loader"></span>
            }
          </button>
        </td>
        <td>
          <button [disabled]="isLoading" (click)="prefill_package('diamond')">
            @if(!isLoading){
            <span class="button-text">Choose</span>
            } @if (isLoading) {
            <span class="loader"></span>
            }
          </button>
        </td>
        <td>
          <button [disabled]="isLoading" (click)="prefill_package('platinum')">
            @if(!isLoading){
            <span class="button-text">Choose</span>
            } @if (isLoading) {
            <span class="loader"></span>
            }
          </button>
        </td>
      </tr>
    </tbody>
  </table>

  @if(isModalVisible){
  <div class="model_overlay">
    <div class="modal-container">
      <div class="modal-content">
        <span class="close" (click)="closeModal()">&times;</span>
        <form
          [formGroup]="newCustomerForm"
          (ngSubmit)="newCustomer()"
          class="form-container"
        >
          <div class="form-group">
            <label for="name">Name:</label>
            <input id="name" formControlName="fullname" />
          </div>

          <div class="form-group">
            <label for="phone">Phone:</label>
            <input id="phone" formControlName="phone_number" />
          </div>

          <div class="form-group">
            <label for="state">State:</label>
            <input id="state" formControlName="state" />
          </div>

          <div class="form-group">
            <label for="email">Email:</label>
            <input id="email" formControlName="email" />
          </div>

          <div class="form-group">
            <label for="company">Company:</label>
            <input id="company" formControlName="company" />
          </div>
          <div class="form-group">
            <label for="package">Package:</label>
            <input
              id="package"
              formControlName="package"
              [value]="package"
              readonly
            />
          </div>

          <button
            class="submit_button"
            type="submit"
            [disabled]="newCustomerForm.invalid"
          >
            Submit
          </button>
        </form>

        <!-- <div class="ok_close_buttons">
          <button class="button" (click)="closeModal()">OK</button>
          <button class="button close_button" (click)="closeModal()">
            Close
          </button>
        </div> -->
      </div>
    </div>
  </div>
  }
</div>
