.container {
  position: relative;
  background: #291550;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  border-radius: 25px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  width: 1150px;
  margin-top: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 28px 28px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 9px;
  text-align: center;
  border-bottom: 3px solid rgba(116, 110, 235, 0.2);
}
th {
  font-weight: 600;
}

.plan {
  text-align: center;
  padding: 8px 16px;
  background: #746beb;
  border-radius: 8px;
  margin-top: 8px;
  margin-bottom: 10px;
  font-weight: bold;
  width: 85px;
}

.plan-price {
  font-size: 24px;
  font-weight: bold;
}

.plan-features {
  padding: 10px 0;
}

.plan-features ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan-features li {
  margin-bottom: 5px;
}

.check-mark {
  background-image: url("../../assets/check_mark.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  width: 20px;
  height: 20px;
}
.features {
  text-align: left;
}
.features_title {
  text-align: left;
  display: flex;
}
.features_heading {
  height: 30px;
  h1 {
    font-size: 20px;
    margin: 0;
  }
}
.buttons {
  display: flex;
  flex-direction: row;
}
.package_headings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  background: #99cc01;
  border: none;
  width: 110px; /* Adjust as needed */
  height: 36px;
  border-radius: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  transition: background 0.3s ease, transform 0.2s ease; /* Smooth transitions */
  cursor: pointer;
}

button:hover {
  background: #291550;
  color: #99cc01;
  border: 2px solid #99cc01; /* Darken background on hover */
  transform: scale(1.05);
}

button:active {
  transform: scale(0.95); /* Slightly shrink the button when clicked */
  background: #291550; /* Darker background on click */
}
.close_button,
.close_button:hover,
.close_button:active {
  background: #9b0000;
}

/* Loader styles */
.loader {
  border: 3px solid rgba(255, 255, 255, 0.3); /* Light border */
  border-top: 3px solid #fff; /* White top */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  left: calc(50% - 10px); /* Center horizontally */
  top: calc(50% - 12px); /* Center vertically */
  animation: spin 1s linear infinite; /* Spin animation */
}

/* Spin animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//-----------------------
.modal-content {
  width: 420px;
  height: 625px;
  background-color: white;
  padding: 10px;
  padding-bottom: 30px;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  p {
    padding: 26px 36px;
    margin-bottom: 0px;
  }
}
.modal-container {
  position: absolute; /* Use fixed positioning to center over the viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the modal */
  background: white;
  // padding: 20px;
  border-radius: 10px;
  z-index: 100; /* Ensure it's above other content */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: auto; /* Set a fixed width for better appearance */
  text-align: center; /* Center text */
}

.close {
  cursor: pointer;
  font-size: 28px;
  color: #aaa;
  padding-right: 12px;
  padding-bottom: 12px;
}

.close:hover {
  color: black;
}

/* Overlay for background dimming */
.model_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99; /* Just below the modal */
}

/* Prevent background scrolling */
body.modal-open {
  overflow: hidden;
}
.ok_close_buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.custom-error {
  color: #f44336; /* Red color for error messages */
  font-size: 0.7em; /* Smaller font size */
  margin-top: 4px; /* Space above the error message */
  width: max-content;
}
.formfill_error_container {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 100%;
}

//-------------------

thead tr:first-child th {
  border-bottom: none;
}

/* Remove bottom border for the last row */
tbody tr:last-child td,
tbody tr:nth-last-child(2) td {
  border-bottom: none;
}
/* Add right border for the 2nd and 3rd columns */
td:nth-child(2),
td:nth-child(3) {
  border-right: 3px solid rgba(116, 110, 235, 0.2);
}
td:first-child {
  font-size: 14px; /* Adjust this value as needed */
  text-align: left; /* Align text to the left */
  width: 470px; /* Set a specific width for the first column */
}
.features ul {
  list-style-type: disc; /* Use bullet points */
  padding-left: 20px; /* Indent the bullets */
  margin: 0; /* Remove default margin */
  text-align: left; /* Align text to the left */
}

.features li {
  margin-bottom: 5px; /* Space between bullet points */
  font-size: 14px; /* Adjust font size as needed */
}

//-------------------------
.form-container {
  width: 85%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgb(237 237 237);
}

.form-group {
  padding: 14px;
  border: 1px solid white;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

label {
  color: black;
  margin-bottom: 5px;
}

input {
  width: 65%;
  padding: 8px;
  border: 1px solid #ffff;
  border-radius: 8px;
  color: #000;
}

input:focus {
  border-color: #66afe9;
  outline: none;
}

.submit_button {
  padding: 10px 15px;
  background-color: #99cc01;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.submit_button:disabled {
  background-color: #99cc01;
}
.submission_success {
  p {
    margin: 0;
    padding: 6px;
    color: #000;
  }
}
.form-select {
  background-color: white;
  border: 2px solid #ffffff;
  border-radius: 10px;
  width: 70%;
  padding: 10px;
  color: #000000; /* Default text color */
  cursor: pointer;
}
@media (max-width: 1024px) {
  .container {
    padding: 20px;
    width: auto;
  }

  button {
    width: 70%; /* Full width for buttons on small screens */
  }

  .modal-content {
    width: 95%; /* Make modal content responsive */
  }
}
