<div class="container">
  <table>
    <thead>
      <tr class="features_heading">
        <th class="features">Features</th>
        <th>
          <div class="package_headings">
            <h1>GOLD</h1>
            <div class="plan">$100/entity</div>
          </div>
        </th>
        <th>
          <div class="package_headings">
            <h1>DIAMOND</h1>
            <div class="plan">$250/entity</div>
          </div>
        </th>
        <th>
          <div class="package_headings">
            <h1>PLATINUM</h1>
            <div class="plan">$300/entity</div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="features">
          <ul>
            <li>Entry Update</li>
          </ul>
        </td>
        <td>No Update</td>
        <td>Update once</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>File report with FinCEN.</li>
          </ul>
        </td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>
              Automated, secure beneficial ownership information collection.
            </li>
          </ul>
        </td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Unlimited company and BOI data storage.</li>
          </ul>
        </td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Dashboard to manage BOI for all your entities.</li>
          </ul>
        </td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Connect beneficial owners to multiple entities.</li>
          </ul>
        </td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Unlimited, free Change of Information filings.</li>
          </ul>
        </td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Access to BOI Monitoring Services and filing reminders.</li>
          </ul>
        </td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Priority customer support during the filing process.</li>
          </ul>
        </td>
        <td></td>
        <td></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Customised Cover Letter.</li>
          </ul>
        </td>
        <td></td>
        <td></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          <ul>
            <li>Customised Email to Beneficial Owners</li>
          </ul>
        </td>
        <td></td>
        <td></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="choose-button"><p>Choose</p></button>
        </td>
        <td>
          <button class="choose-button"><p>Choose</p></button>
        </td>
        <td>
          <button class="choose-button"><p>Choose</p></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
