<div class="container">
  <table>
    <thead>
      <tr class="features_heading">
        <th class="features">Features</th>
        <th>
          GOLD
          <div class="plan">$100/entity</div>
        </th>
        <th>
          DIAMOND
          <div class="plan">$250/entity</div>
        </th>
        <th>
          PLATINUM
          <div class="plan">$300/entity</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="features">Entry Update</td>
        <td>No Update</td>
        <td>Update once</td>
        <td>Unlimited</td>
      </tr>
      <tr>
        <td class="features">File report with FinCEN.</td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          Automated, secure beneficial ownership information collection.
        </td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">Unlimited company and BOI data storage.</td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">Dashboard to manage BOI for all your entities.</td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          Connect beneficial owners to multiple entities.
        </td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">Unlimited, free Change of Information filings.</td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          Access to BOI Monitoring Services and filing reminders.
        </td>
        <td></td>
        <td><div class="check-mark"></div></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">
          Priority customer support during the filing process.
        </td>
        <td></td>
        <td></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">Customised Cover Letter.</td>
        <td></td>
        <td></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td class="features">Customised Email to Beneficial Owners</td>
        <td></td>
        <td></td>
        <td><div class="check-mark"></div></td>
      </tr>
      <tr>
        <td></td>
        <td><button class="choose-button">Choose</button></td>
        <td><button class="choose-button">Choose</button></td>
        <td><button class="choose-button">Choose</button></td>
      </tr>
    </tbody>
  </table>
  <!-- <div class="buttons">
    <button class="choose-button">Choose</button>
    <button class="choose-button">Choose</button>
    <button class="choose-button">Choose</button>
  </div> -->
</div>
