<section class="frame_6">
  <div class="frame_6_service_offers">
    <div class="frame_6_heading">
      <h2>Service Offerings</h2>
    </div>
    <div class="heading_description">
      <p>
        Explore our tiered service offerings to find the ideal solution for your
        business goals.
      </p>
    </div>
    <app-service-offerings />
  </div>
  <div class="proc">
    <div class="footer_company_details">
      <div class="procstat"></div>
      <div class="footer_title"></div>
    </div>
    <div class="bottom_image"></div>
  </div>
</section>
