<section class="frame_6">
  <div class="frame_6_service_offers">
    <div class="frame_6_heading">
      <h2>Service Offerings</h2>
    </div>
    <div class="heading_description">
      <p>
        Explore our tiered service offerings to find the ideal solution for your
        business goals.
      </p>
    </div>
    @if(isMobile) {
    <div class="packages_container">
      <div class="gold_container box" (click)="toggle_dropdown('gold')">
        <div class="price_toggle_container">
          <div class="price_container">
            <h2>GOLD</h2>
            <h4>$100/entity</h4>
          </div>
          <div class="drop_arrow">
            @if(isDropdown_gold) {
            <img src="hide_arrow.png" alt="" />
            } @else {
            <img src="expand_arrow.png" alt="" />

            }
          </div>
        </div>
        @if(isDropdown_gold) {
        <div class="dropdown_container">
          <div class="package_features">
            <ul>
              <li>Entry Update - No Update</li>
              <li>File report with FinCEN</li>
            </ul>
          </div>
          <button [disabled]="isLoading" (click)="prefill_package('GOLD')">
            Choose
          </button>
        </div>
        }
      </div>
      <div class="diamond_container box" (click)="toggle_dropdown('diamond')">
        <div class="price_toggle_container">
          <div class="price_container">
            <h2>DIAMOND</h2>
            <h4>$250/entity</h4>
          </div>
          <div class="drop_arrow">
            @if(isDropdown_diamond) {
            <img src="hide_arrow.png" alt="" />
            } @else {
            <img src="expand_arrow.png" alt="" />

            }
          </div>
        </div>
        @if(isDropdown_diamond) {
        <div class="dropdown_container">
          <div class="package_features">
            <ul>
              <li>Entry Update - Update Once</li>
              <li>File report with FinCEN.</li>
              <li>
                Automated, secure beneficial ownership information collection.
              </li>
              <li>Unlimited company and BOI data storage.</li>
              <li>Dashboard to manage BOI for all your entities.</li>
              <li>Connect beneficial owners to multiple entities.</li>
              <li>Unlimited, free Change of Information filings.</li>
            </ul>
          </div>
          <button [disabled]="isLoading" (click)="prefill_package('DIAMOND')">
            Choose
          </button>
        </div>
        }
      </div>
      <div class="platinum_container box" (click)="toggle_dropdown('platinum')">
        <div class="price_toggle_container">
          <div class="price_container">
            <h2>PLATINUM</h2>
            <h4>$300/entity</h4>
          </div>
          <div class="drop_arrow">
            @if(isDropdown_platinum) {
            <img src="hide_arrow.png" alt="" />
            } @else {
            <img src="expand_arrow.png" alt="" />

            }
          </div>
        </div>
        @if(isDropdown_platinum) {
        <div class="dropdown_container">
          <div class="package_features">
            <ul>
              <li>Entry Update - Unlimited</li>
              <li>File report with FinCEN.</li>
              <li>
                Automated, secure beneficial ownership information collection.
              </li>
              <li>Unlimited company and BOI data storage.</li>
              <li>Dashboard to manage BOI for all your entities.</li>
              <li>Connect beneficial owners to multiple entities.</li>
              <li>Unlimited, free Change of Information filings.</li>
              <li>Access to BOI Monitoring Services and filing reminders.</li>
              <li>Priority customer support during the filing process.</li>
              <li>Customized Cover Letter.</li>
              <li>Customized Email to Beneficial Owners.</li>
            </ul>
          </div>
          <button
            style="background-color: #291550; color: white"
            [disabled]="isLoading"
            (click)="prefill_package('PLATINUM')"
          >
            Choose
          </button>
        </div>
        }
      </div>
    </div>
    <!-- <div class="proc">
      <img src="footer_set_mobile_view.png" alt="" />
    </div> -->
    } @else {

    <div class="service_offerings">
      <app-service-offerings />
    </div>

    }
    <div class="proc">
      <img class="proc_footer" src="Procstat_logo_new.svg" />
    </div>
  </div>
  @if(isModalVisible){
  <div class="model_overlay">
    <div class="modal-container">
      <div class="modal-content">
        <div class="heading_close_bar">
          <h1>Flexible for You.</h1>
          <span class="close" (click)="closeModal()">&times;</span>
        </div>
        <form [formGroup]="newCustomerForm" (ngSubmit)="newCustomer()">
          <div class="form-container">
            <div class="name_field">
              <input
                type="text"
                placeholder="Full Name"
                formControlName="fullname"
                class="form_field_name"
              />
            </div>
            <div class="validation_container">
              @if (fullname?.touched) { @if (fullname?.hasError('required')) {
              <div class="custom-error">Name is <strong>required</strong>.</div>
              } @if (fullname?.hasError('minlength')) {
              <div class="custom-error">
                Full Name is <strong>very short</strong>.
              </div>
              } }
            </div>
            <div class="phone_field">
              <input
                type="text"
                class="form_phone_field"
                placeholder="Phone"
                formControlName="phone_number"
              />
            </div>
            <div class="validation_container">
              @if(phone_number?.touched){ @if
              (phone_number?.hasError('required')) {
              <div class="custom-error">
                Phone number is <strong>required</strong>.
              </div>
              } @if (phone_number?.hasError('pattern')) {
              <div class="custom-error">
                Phone number is <strong>invalid</strong>.
              </div>
              } }
            </div>
            <div class="state_field">
              <select class="form-select" formControlName="state" title="State">
                <option value="" disabled selected>State</option>
                @for(state of usaStates; track $index) {
                <option [value]="state">{{ state }}</option>
                }
              </select>
            </div>
            <div class="validation_container">
              @if (state?.touched) { @if (state?.hasError('required')) {
              <div class="custom-error">
                State is <strong>required</strong>.
              </div>
              }}
            </div>
            <div class="email_field">
              <input
                type="email"
                class="form_field_email"
                placeholder="Email"
                formControlName="email"
              />
            </div>
            <div class="validation_container">
              @if(email?.touched) { @if(email?.hasError('required')) {
              <div class="custom-error">
                Email is <strong>required</strong>.
              </div>
              } @if (email?.hasError('email')) {
              <div class="custom-error">
                Please enter a <strong>valid email address.</strong>
              </div>
              } }
            </div>
            <div class="company_field">
              <input
                type="text"
                class="form_field_company"
                placeholder="Company"
                formControlName="company"
              />
            </div>
            <div class="validation_container">
              @if (company?.touched) { @if (company?.hasError('required')) {
              <div class="custom-error">
                company is <strong>required</strong>.
              </div>
              }}
            </div>
            <input
              id="package"
              class="form_field_package"
              formControlName="package"
              [value]="package"
              readonly
            />
            <div class="formfill_error_container">
              @if (errorMessage) {
              <div class="custom-error">{{ errorMessage }}</div>
              }
            </div>
            <button [disabled]="isLoading">
              @if(!isLoading){
              <span class="button-text">Book a Call</span>
              } @if (isLoading) {
              <span class="loader"></span>
              }
            </button>
            @if(showSuccess) {
            <div class="submission_success">
              <p>Your details are submitted successfully!</p>
            </div>
            }
            <div class="tagline">Save 40% on pocket and 100% on stress.</div>
          </div>
        </form>
      </div>
    </div>
  </div>
  }
</section>
