<section class="frame_6">
  <div class="frame_6_service_offers">
    <div class="frame_6_heading">
      <h2>Service Offerings</h2>
    </div>
    <div class="heading_description">
      <p>
        Explore our tiered service offerings to find the ideal solution for your
        business goals.
      </p>
    </div>
    @if(isMobile) {
    <div class="packages_container">
      <div class="gold_container box">
        <div class="price_container">
          <h2>GOLD</h2>
          <h4>$100/entity</h4>
        </div>
        <div class="drop_arrow"></div>
      </div>
      <div class="diamond_container box">
        <div class="price_container">
          <h2>DIAMOND</h2>
          <h4>$250/entity</h4>
        </div>
        <div class="drop_arrow"></div>
      </div>
      <div class="platinum_container box">
        <div class="price_container">
          <h2>PLATINUM</h2>
          <h4>$300/entity</h4>
        </div>
        <div class="drop_arrow"></div>
      </div>
    </div>
    } @else {

    <app-service-offerings />
    }
  </div>
  <div class="proc">
    <div class="footer_company_details">
      <div class="procstat"></div>
      <div class="footer_title"></div>
    </div>
    <div class="bottom_image"></div>
  </div>
</section>
