<section class="frame_3">
  <div class="heading">
    <h2>Streamlined BOI Reporting With ProcStat</h2>
  </div>
  <div class="frame_3_container">
    <div class="left_column_boxes">
      <div class="left_box_container_1 box">
        <h2>Effortless BOI Filing</h2>
        <div class="animation_7"></div>
      </div>
      <div class="left_box_container_2 box">
        <h2>Eliminate staffing and bandwidth issues</h2>
        <div class="animation_5"></div>
      </div>
      <div class="left_box_container_3 box">
        <h2>Improve productivity and grow without excessive hiring</h2>
        <div class="animation_3"></div>
      </div>
    </div>
    <div class="right_column_boxes">
      <div class="right_box_container_1 box">
        <h2>Meet Compliance with Confidence</h2>
        <div class="animation_6"></div>
      </div>
      <div class="right_box_container_2 box">
        <h2>Focus on client acquisition while we handle reporting</h2>
        <div class="animation_4"></div>
      </div>
      <div class="book_call_container">
        <button class="button" (click)="scrollToFrame4()">Book a Call</button>

        <div class="discount">
          <p>Save 40% on pocket and 100% on stress.</p>
        </div>
      </div>
    </div>
  </div>
</section>
